* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: #545454;
}

body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;

  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollCanvas {
  cursor: crosshair;
  background-color: white;
  /* overflow: auto; */
}

.palette {
  border: solid black 1px;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 20px;
  background-color: rgba(85, 85, 85, 0.357);
}
